.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px 120px 0 120px;
}

h2 {
  font-size: 23px;
}

.champ-font {
  color: white;
  font-family: "Russo One", sans-serif;
}
